body {
    width: 100%;
    background: linear-gradient(90deg, rgba(64, 205, 235, 1) 46%, rgba(173, 245, 196, 1) 90%, rgba(243, 247, 174, 1) 100%);
}

.container {
    padding: 1px;
    border-radius: 20px;
    margin-top: 75px;
}